<% include header %>

<h2 class="text-center">Armas de Zombies</h2>

<table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen</th>
            <th scope="col">Arma</th>
            <th scope="col">Caracteristica de Arma</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Zombi Cajita</th>
            <td> <img src="images/zombicaja.jpg" alt="zombicajita" style="max-width:100%;width:100px;height:100px"> </td>
            <td>Caja de Múscia</td>
            <td>El zombi con cajita lleva una sorpresa que es una bomba con la que ataca a sus enemigos.</td>
          </tr>
          <tr>
                <th scope="row">Zombiestein</th>
                <td> <img src="images/zombiestein.png" alt="Zombiestein" style="max-width:100%;width:100px;height:100px"> </td>
                <td>Poste de luz</td>
                <td>Zombiestein aplasta a sus enemigos con un enorme poste de luz hecho de madera, cuenta con un aliado zombi en su hombro para arrojarlo y atacar a distancia.</td>
                 </tr>
                 <tr>
                        <th scope="row">Zombi Picador</th>
                        <td> <img src="images/zombipicado.png" alt="Zombipicador" style="max-width:100%;width:100px;height:100px"> </td>
                        <td>Pico</td>
                        <td>El Zombi Picador utiliza su pico para destanzar a sus enemigos y posteriormente comerlos.</td>
                </tr>
        </tbody>
      </table>



<% include footer %>