<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Zombies</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
<div>
    <h1>
        <div>
            <a href="/"><img src="images/logo.png" alt="Zombies" style="max-width:100%;width:100px;height:100px;"></a>
                <a href="/login" class="btn btn-warning pull-right btn-lg">Log in</a>
                <a href="/victimas" class="btn btn-warning pull-right btn-lg">Víctimas</a>
                <a href="/armas" class="btn btn-warning pull-right btn-lg">Armas</a>
                <a href="/clases" class="btn btn-warning pull-right btn-lg">Clases</a>
        </div>
    </h1>
</div>
